.nav-bar {
    height: var(--nav-bar-height);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--phone-bg);
    z-index: 100;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 48px;
    height: 48px;
    transition: background 0.2s;
    border-radius: 50%;
}

.nav-btn:active {
    background: rgba(255, 255, 255, 0.1);
}